In [3]:
import pandas as pd
import os
from sqlalchemy import create_engine
from time import time

In [12]:
#Creating Postgresql connection
'''For this, we need two packages:
    
    - sqlalchemy
    - psycopg2-binary (not psycopg2)
        
    ''' 
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
url = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [17]:
os.system(f"wget {url} -O taxi_zone_lookup.csv")

--2023-01-25 13:10:48--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolviendo s3.amazonaws.com (s3.amazonaws.com)... 52.216.62.56, 52.217.79.166, 52.217.97.182, ...
Conectando con s3.amazonaws.com (s3.amazonaws.com)[52.216.62.56]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 12322 (12K) [application/octet-stream]
Grabando a: «taxi_zone_lookup.csv»

     0K .......... ..                                         100% 39,9M=0s

2023-01-25 13:10:49 (39,9 MB/s) - «taxi_zone_lookup.csv» guardado [12322/12322]

0

In [18]:
# Checking the CSV file
df_zones = pd.read_csv('taxi_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [19]:
#printing SQL possible schema to create
print(pd.io.sql.get_schema(df_zones,name="taxi_zones", con=engine))

CREATE TABLE taxi_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [10]:
# Append the remaining data in dataset (lookup table)
%time df_zones.to_sql(name="taxi_zones", con=engine)

CPU times: user 26.9 ms, sys: 11 ms, total: 38 ms
Wall time: 87.9 ms

265